#main-doc{
  position: absolute;
    margin: 0px 0px 0px 350px;
}
#navbar{
  position: fixed;
    border-right: 1px solid white;
    height: 100vh;
    margin-left: 0px;
    color: white;
}
h3{
 border: 1px solid gray;
    height: 45px;
    margin: 0;
    font-size: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
}
body{
  background-color:black;
  color: white;
  font-family: 'Mukta', sans-serif;
}
code {
  display: block;
    background-color: white;
    color: black;
    padding: 12px;
    border-radius: 12px;
    /* margin: 0px; */
    width: 75%;
}
a{
  text-decoration:none;
}
#navbar ul{
  height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
